
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b1b4b9;
}

 header{
    background-color: white;
 }


.logo{
    width: 100px;
    vertical-align: middle;
}

.titolo{
    display: inline;
    vertical-align: middle;
}

.container {
    background-color: white;
    width: 1000px;
    margin: auto; /* Centra orizzontalmente */
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.celeste {
    background-color: #48adf0;
    color: white;
    display: inline-block;
    border-radius: 50px;
    width: 80px;

}

.viola {
    background-color: purple;
    color: white;
    display: inline-block;
    border-radius: 50px;
    width: 80px;
}

.mare {
    background-color: aquamarine;
    color: white;
    border-radius: 50px;
    width: 80px;
}

.senape {
    background-color: chocolate;
    color: white;
    border-radius: 50px;
    width: 80px;
}

.rosa {
    background-color: pink;
    color: white;
    border-radius: 50px;
    width: 80px
}

.green {
    background-color: rgb(65, 206, 72);
    color: white;
    border-radius: 50px;
    width: 80px
}


.button-white {
    background-color: #ffffff;
    border-radius: 50px;
    width: 80px

}

.new-task{
    margin-top: 25px;
}

.today {
    margin-top: 25px;
}

.Quarterly {
    display: inline-block;
    margin-top: 20px;
}

.mobile {
    display: inline-block;
    margin-top: 20px;
}

.paragrafo {
    display: inline-block;
}


.interview{
    margin-top: 20px;
    display: inline-block;
}

