
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b1b4b9;
}

 header{
    background-color: white;
 }

.logo{
    width: 100px;
    vertical-align: middle;
}

.titolo{
    display: inline;
    vertical-align: middle;
}

.container {
    background-color: white;
    margin-top: 100px;
}

.celeste {
    background-color: #48adf0;
    color: white;
    display: inline-block;

}

.button-white {
    background-color: #ffffff;

}

.new-task{
    margin-top: 25px;
}

.today {
    margin-top: 25px;
}

.Quarterly {
    display: inline-block;
}

.paragrafo {
    display: inline-block;
}